@import "customs";
@import "variables";

.header-logo {
  height: pxToRem(30);
  width: pxToRem(150);
}

nav{
  background-color: $Black ;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}


.nav-link {
  color: white;
  &:hover {
    color: $Yellow;
  }
}
