<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" class="header-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Apprendre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Machines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entreprises</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
